div.banniere{
	background: url("http://image.noelshack.com/fichiers/2018/41/3/1539175235-saint-seiya-soldiers-soul-logo-render2-by-bluerathy-s-d8putiz.png");
	background-repeat: no-repeat;
	background-position: center; 
}
#banner {
	position: static;
	/*top: 0px;
	left: 0px;
	right: 0px;*/
	width: 100%;
	height: 300px;
	/*z-index: -1;*/
	opacity: 0.90;
    filter:alpha(opacity=90);
    -moz-opacity:0.90;
}
body{
	background-image: url("https://universe.utoronto.ca/wp-content/uploads/2017/04/cosmos-guide.jpg");
	background-position: 50% 30%;
	background-repeat: no-repeat;
	
}
	h1 {
color: #000000;
display: block;
font-size: 300%;
margin-top: 2%;
text-align: center;
font-weight: bold;

}
h2{
	color: #000000;
	display: block;
	text-align: center;
	
}

div.background2{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid rgba(9, 70, 150, 0.438);
	background-color:rgba(0,255,255,0.1);
}
div.background{
	width: 90%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgba(9, 70, 150, 0.438);
	background-color: rgba(128, 128, 128, 0.1);
}
th{
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-right: 1px solid rgba(9, 70, 150, 0.438);
}
.SArea:before {
    position: static;
    top: 0;
    width: 100%;
    height: 100px;
    padding-top: 12%
    
    
}
.PArea {
    float: left;
    position: relative;
    width: 50%;
}

.ajustTextBox
{
    margin-left: 35%;
}

#pos 
{
    margin-right: 20%;
}

.textArea

{
    width: 100%;
}

PArea,button
{
    width: 10%;

}
PArea,button,p
{
    width: 10%;
    font-size: 1vw;
}
.bold{
	font-weight: bold;
}
form{
	margin: 0 auto;
	width: 25%;
}
input{
    width: 100%;
}
input[type="checkbox"]{
    width:auto;
}
span{
    text-align: left;
}
  
navbar{
	clear: both;
	padding: 0px 5px;
}
ul{
	list-style-type: none;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
ul.navlinks{
	border-bottom-width:1px;
	border-bottom-style: solid;
	border-bottom-color: transparent;
	font-weight:500;
	text-align: center;
}

ul.linklist li{
	display:inline;
	display:block;
	font-size: 1em;
	line-height:2em;
	list-style-type: none;
}

*{
	margin: 0px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
	padding: 0px;
    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}