h1.page-tittle{
    color:#4d79ff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:2em;
    font-weight:400;
    margin-top:0.9em;
    margin-right:0px;
    margin-left:0px;
    margin-bottom:0.2em;
}

pagination{
    float: right;
    margin-top:5px;
    text-align:right;
    width:auto;
}

img {
    border-width: 0px;
    border-top-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
}

.postprofile dd{
    line-height:1.2em;
}

.postprofile{
    border-color:transparent;
    border-right-color:transparent;
    border-right-style:solid;
    border-right-width:1.2px;
    color:#0033cc;
    display: inline;
    float:left;
    margin-top:5px;
    margin-bottom :0px;
    margin-right:0px;
    margin-left:0px;
    min-height:90px;
    position:relative;
    width:0.25em;
    word-wrap:break-word;
}

a{
    color: #9900cc;
    font-weight:700;
    text-decoration:none;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line:none;
    text-decoration-style:solid;
}

p{
    font-size:1.2em;
    line-height:1.1em;
    margin-bottom:0.4em;
}

p.right{
    text-align: right;
}

a:link{
    color:#6600ff;
    text-decoration-color: -moz-use-text-color;
    text-decoration-line: none;
    text-decoration-style: solid;
}

.clear{
    background-color: transparent;
    background-image: none;
    background-repeat: repeat;
    background-attachment: scroll;
    background-position: 0% 0%;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: auto auto;
    clear: both;
    display: block;
    font-size: 1px;
    line-height: 1px;
}

p.right img{
    vertical-align:middle;
}

content{
    color: #1a1aff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height:1.4em;
    min-height:3em;
    overflow:hidden;
    overflow-x:hidden;
    overflow-y:hidden;
}

.postbody{
    width:80%;
    padding:0px;
    line-height:1.5em;
    clear:both;
    color:#1a1aff;
    float:right;
}

.topic-actions{
    font-size:1.5em;
    height:auto;
    margin-bottom:5px;
    margin-top:1em;
}

.buttons{
    float:left;
}

.pathname-bit{
    float:left;
    margin-left:20px;
    margin-top:3px;
}

.rowl{
    background-color: #0000b3;
}

.post{
    background-postion:1em 0px;
    background-repeat:no-repeat;
    margin-bottom:4px;
    padding:0px 10 px;
    padding-bottom:0px;
    padding-top:0px;
    padding-right:15px;
    padding-left:15px;
}

.postbody .topic-tittle{
    border:medium none;
    color:#009933;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:1.6em;
    line-height:130%;
    font-weight:725;
    margin:0px 0px 0.3em;
    padding:2px 0px 0px;
    text-transform:none;
}

p.author{
    font-family:'Times New Roman', Times, serif;
    font-size:1em;
    line-height:1.3em;
    margin:0px 15em 0,6em 0px;
    padding:0px 0px 5px;
}

.postbody ul.profile-icons{
    float : right;
    list-style: outside none none;
    margin-right: 45px;
    padding:0px;
    width:auto;

}